.nameList {
  .person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--border-color);

    .name {
      flex-grow: 1;
    }

    button {
      border: none;
      font-size: 1rem;
      color: var(--icon-color);
      background: none;
      cursor: pointer;

      &:hover {
        filter: var(--icon-shift);
      }
    }

    &.disabled {
      .name {
        text-decoration: line-through;
        opacity: 0.5;
      }

      button:hover {
        filter: none;
        cursor: default;
      }
    }
  }
}
