@import 'node_modules/@fortawesome/fontawesome-free/css/all.css';

body {
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0;
  padding: 0;
  overflow: hidden; // no scrollbars

  font-family: Arial, sans-serif;

  &, &.light-mode {
    --background-color: #fff;
    --textarea-background-color: #fff;
    --fork-me-background-color: #ddd;
    --text-color: #888;
    --icon-color: #222;
    --strong-color: #222;
    --h1-color: #444;
    --h2-color: #666;
    --small-color: #222;
    --small-hover-color: #666;
    --border-color: #888;
    --hr-color: #f0f0f0;
    --code-text-color: #222;
    --winner-overlay: #b4b4b4;

    --fork-me-size: 200px;
    --icon-shift: invert(0.5);
  }

  &.dark-mode {
    --background-color: #222;
    --textarea-background-color: #444;
    --fork-me-background-color: #444;
    --text-color: #fff;
    --icon-color: #fff;
    --strong-color: #f0f0f0;
    --h1-color: #ccc;
    --h2-color: #aaa;
    --small-color: #aaa;
    --small-hover-color: #888;
    --border-color: #e5e5e5;
    --hr-color: #e5e5e5;
    --code-text-color: #aaa;
    --winner-overlay: #464646;

    --icon-shift: brightness(0.5);
  }

  h1 {
    color: var(--h1-color);
    font-size: 1.75rem;
  }
  h2 {
    color: var(--h2-color);
  }
  h1, h2 {
    margin: 0 0 2vh;
    line-height: 1.1;
  }
  a {
    color: #39c;
    text-decoration: none;

    &:hover {
      color: #069;
    }
  }
  small {
    font-size: .7rem;
    color: var(--small-color);
  }
  hr {
    border: 0;
    background: var(--hr-color);
    height: 1px;
  }
  strong {
    color: var(--strong-color);
    font-weight: bold;
  }


  .header {
    width: 100%;
    text-align: center;

    margin: 2vh 0;
  }

  #content {
    margin: 0;
    margin-top: 5vh;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;

    section.right,
    .wheel {
      padding-left: 2vw;
      width: 500px;
      height: 500px;

      #wheel-container {
        position: relative;

        width: 100%;
        height: 100%;
        max-width: 600px;
        max-height: 600px;
        font-size: 1.25rem;

        #wheel {
          position: relative;

          width: 100%;
          height: 100%;

          border: 2px solid var(--border-color);
          border-radius: 50%;

          overflow: hidden;

          .slice {
            position: absolute;

            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;

            .name {
              display: block;
              align-content: center;
              text-align: right;
              position: relative;

              width: calc(50% - 2rem);
              left: calc(50% + 1rem);

              &.dark {
                color: #fff;
              }
              &.light {
                color: #000;
              }
            }

            &.border {
              border: 1px solid var(--border-color);
            }
          }
        }
      }
    }
  }

  .controls {
    .list {
      color: var(--icon-color);

      list-style-type: none;
      line-height: 2rem;

      .row {
        display: flex;

        .item {
          margin-right: 0.25rem;
        }
      }

      &.menu .row {
        font-size: 1.5rem;

        .icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &.people {
        width: 15rem;
        max-width: 15rem;

        .row {
          border-bottom: 1px solid var(--border-color);

          .item {
            &:has(input.name-input) {
              border-bottom: none;
            }
            &:last-child {
              flex-grow: 1;
              // min-width: 10rcap;
              width: 10px;
            }
          }
        }

        input.name-input {
          padding: 0.25rem;
          margin-top: 0.5rem;
          font-size: 1rem;
          width: 100%;

          border-bottom: 1px solid var(--border-color);

          background-color: transparent;
          color: var(--text-color);

          &::placeholder {
            color: var(--code-text-color);
          }
          &:focus {
            outline: none;
            border-bottom: 2px solid var(--border-color);
          }
        }
      }
    }

    .row {
      .hover:hover {
        cursor: pointer;
        filter: var(--icon-shift);
      }

      &.disabled {
        .name .icon {
          text-decoration: line-through 0.1rem;
          font-style: italic;
        }

        :not(.hover) {
          cursor: default;
        }
      }
    }
  }

  #winner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .winner-box {
      position: fixed;
      top: 25vh;
      left: 25vw;
      width: 50vw;
      height: 30vh;

      background-color: var(--winner-overlay);
      border: 4px double var(--border-color);

      display: flexbox;
      vertical-align: middle;
      text-align: center;
      align-items: center;

      * {
        width: 100%;
        position: relative;
        color: var(--h1-color);
      }

      h1 {
        font-size: 3rem;
      }
    }
  }

  #fork-me {
    position: absolute;
    width: var(--fork-me-size);
    top: calc(var(--fork-me-size) * sin(45deg) - 1.5rem);
    right: calc(var(--fork-me-size) * sin(45deg) * -.1);

    transform: rotate(45deg);
    transform-origin: right;

    margin: 0;
    padding: 0;

    .wrapper {
      cursor: pointer;
      position: relative;
      padding: 4px;

      text-align: center;

      background-color: var(--fork-me-background-color);
      border: 1px solid var(--border-color);

      a {
        font-size: .95rem;
        color: var(--strong-color);
      }
    }
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
  }
}

@media (max-width: 800px) {
  body {
    #content {
      flex-direction: column;
      padding: 0 3vw;
      margin-top: 5vh;
    }

    .controls {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
